body{
	 font-family: Arial, sans-serif;
  
  text-align:center; 

}
div{
  margin:5px;
  padding:5px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  
  height:100px;
}





input[type="submit"] {
 
background: #ff6600;
color: white;
border-style: outset;
border-color: #ff7f00;
height: 50px;
width: 400px;
font: bold15px arial,sans-serif;
text-shadow: none;
} 

input[type="submit"]:hover {
  background-color: #555;
}
